      <div class="span3">
        <ul class="sidenav">
          <li><a href="/getting-started">Getting Started</a></li>
          <li><a href="/user-manual">User Manual
            <ul>
              <li><a href="/user-manual/property-mapping">Property Mapping</a>
                <ul>
                  <li><a href="/user-manual/property-mapping/#deep-mapping">Deep Mapping</a></li>
                  <li><a href="/user-manual/property-mapping/#skipping-properties">Skipping Properties</a></li>
                  <li><a href="/user-manual/property-mapping/#converters">Converters</a></li>
                  <li><a href="/user-manual/property-mapping/#providers">Providers</a></li>
                  <li><a href="/user-manual/property-mapping/#conditional-mapping">Conditional Mapping</a></li>
                </ul>
              </li>
              <li><a href="/user-manual/validation">Validation</a></li>
              <li><a href="/user-manual/configuration">Configuration</a>
                <ul>
                  <li><a href="/user-manual/configuration/#matching-strategies">Matching Strategies</a></li>
                </ul>
              </li>              
              <li><a href="/user-manual/converters">Converters</a></li>
              <li><a href="/user-manual/providers">Providers</a></li>
              <li><a href="/user-manual/internals">Internals</a>
                <ul>
                  <li><a href="/user-manual/internals#matching-process">Matching Process</a></li>
                  <li><a href="/user-manual/internals#mapping-process">Mapping Process</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/examples">Examples</a></li>
        </ul>
      </div>